{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="page-header">
        <h1>{% trans "Ofte stillede spørgsmål" %}</h1>
    </div>

    <div class="row">

        <div class="well span5">

            <p><strong>Hvad kan jeg vinde?</strong></p>

            <p> Alle forælder-unge par, der har besvaret vores spørgeskemaer i første runde (oktober 2015), deltager i
                en lodtrækning om 5 iPads og 50 biografbilletter til to personer. Alle de forælder-unge par, der har
                deltaget i alle tre runder, deltager desuden i en lodtrækning om endnu engang 5 iPads og 50
                biografbilletter til to personer. Vinderne vil få direkte besked via e-mail.</p>
            <br>

            <p><strong>Hvornår kan jeg deltage?</strong></p>

            <p>Registrering til og deltagelse i projektet kan ske i løbet af oktober 2015. Alle forælder-unge par, der
                har deltaget i denne første runde, vil blive inviteret til at deltage igen i april 2016. Alle dem, der
                har deltaget i anden runde, vil blive inviteret til at deltage i tredje runde i oktober 2016.</p>
            <br>

            <p><strong>Kan et barn deltage med begge sine forældre?</strong></p>

            <p>Nej. Hvert barn kan kun deltage én gang i projektet og derfor kun indgå i ét forælder-unge par.</p>
            <br>

            <p><strong>Hvad betyder det, hvis spørgsmål bliver røde?</strong></p>

            <p>Det betyder, at du prøvede at gå videre til næste side i spørgeskemaet, uden at du har besvaret alle
                spørgsmål. Hvis du besvarer det/de manglende spørgsmål, bliver de grønne, og du kan gå videre til næste
                side.</p>
            <br>

            <p><strong>Hvad gør jeg, hvis der er et spørgsmål, jeg ikke ønsker at svare på?</strong></p>

            <p>Hvis der er et spørgsmål, du ikke ønsker at svare på, trykker du på ”Næste” uden at svare på spørgsmålet.
                Spørgsmålet vil blive rødt og der vises en knap øverst på siden, der siger ”Jeg ønsker ikke at besvare
                dette spørgsmål”. Hvis du trykker på knappen, vil spørgsmålet blive markeret gult (som står for
                ubesvaret), og du kan gå videre i spørgeskemaet.</p>
            <br>

            <p><strong>Hvilke spørgsmål svarer mit barn på?</strong></p>

            <p>Dit barn svarer på spørgsmål omkring sin adfærd, sit sociale og emotionelle liv, samt spørgsmål om
                hvorfor, hvordan og med hvem han/hun spiller elektroniske spil. Hvis du ønsker at se de spørgsmål, vi
                stiller dit barn, er du velkommen til at sende os en e-mail. Så vil vi sende dig et dokument, der viser
                spørgsmålene. Bemærk venligst, at vi ikke viser dig, hvad dit barn har svaret men udelukkende, hvilke
                spørgsmål dit barn svarer på.</p>
            <br>

            <p><strong>Kan jeg besvare spørgeskemaet på min telefon eller tablet?</strong></p>

            <p>Vores side er en webapplikation, som i princippet kan besvares i enhver internet-browser. Vi anbefaler
                dog, at du anvender en computer, da siden ikke er optimeret til tablet eller telefon. Skærmen vil
                desuden kunne være for lille til at se hele siden.</p>
            <br>

            <p><strong>Hvor kan jeg læse mere om projektet?</strong></p>

            <p>Du kan læse mere på vores hjemmeside: <a href="http://www.psy.ku.dk/ygp">http://www.psy.ku.dk/ygp</a>. Du
                kan også like, dele og følge os på Facebook: <a href="http://www.facebook.com/youthgamingproject">http://www.facebook.com/youthgamingproject</a>
            </p>
            <br>

            <p><strong>Mit barn synes aldrig at have modtaget sit link til spørgeskemaet?</strong></p>

            <p>Der må være sket en fejl. Venligst kontrollér at dit barns e-mail adresse er indtastet korrekt. Hvis det
                stadig ikke lykkes, må du meget gerne sende os en e-mail: <a href="mailto:ygp.info@psy.ku.dk">ygp.info@psy.ku.dk</a>
            </p>
            <br>

            <p><strong>Jeg gennemgår mine svar, og der er et spørgsmål, der er blankt. Hvorfor?</strong></p>

            <p>Det betyder, at du ikke har besvaret spørgsmålet første gang. Hvis du springer et spørgsmål over
                (benytter ”Jeg ønsker ikke at besvare dette spørgsmål”-knappen), gemmes spørgsmålet som ubesvaret. Hvis
                du derefter gennemgår dine svar, vil spørgsmålet stadig stå som ubesvaret og dermed blankt.</p>
            <br>

            <p><strong>Hvad gør jeg, hvis ikke jeg kan finde svar på mit problem/spørgsmål her?</strong></p>

            <p>Hvis du ikke kan finde svar på dit problem/spørgsmål her, må du meget gerne sende os en e-mail, hvor du
                beskriver dit problem/spørgsmål: <a href="mailto:ygp.info@psy.ku.dk">ygp.info@psy.ku.dk</a></p>


        </div>


    </div>
{% endblock %}
