{% extends "base.html" %}

{% block content %}

This is authorizations.html
</br>
Hello {{ username }}
</br>

<div id = 'initiated'>
</div>

<div id = 'enrolled'>
</div>


</br>

<b>available</b>
</br>
{% for service, value in services.available.items %}
	<li> {{ value.status }}: {{ service }}  
	<form method="get" action="/oauth2/oauth2/authorize">
	<input type="hidden" name="redirect_uri" value="{{ value.redirect_uri }}">
	<input type="hidden" name="response_type" value="code">
	<input type="hidden" name="client_id" value="{{ value.client_id }}">
	<input type="hidden" name="scope" value="enroll,view_real_name">
	<input type="submit" value="Enroll">
	</form>
	</li>
{% endfor %}


<script>

function buildText(value, _id)
{
		var element = document.createElement('text');
		element.innerHTML = value;
		document.getElementById(_id).appendChild(element);
}


function populateIn(type)
{
	services = {{ services|safe }}
	authorizations = {{ authorizations|safe }}

	for (var service in services[type])
	{
		buildText('<b>' + type + '</b>' + '</br>' + service, type)

		for (var application in authorizations[service]['service'])
		{
			var name = authorizations[service]['service'][application]['name'];
			var _id = application;
			var description = authorizations[service]['service'][application]['description'];
			var owner = authorizations[service]['service'][application]['owner'];
			

			buildText('</br>' + name, type)
			buildText('</br>' + _id, type)
			buildText('</br>' + description, type)
			buildText('</br>' + owner, type)
			
					
			for (var connector in authorizations[service]['service'][application]['connectors'])
			{
				buildText('</br>' + connector, type)
				var scopes_array = [];
				for (var scope in authorizations[service]['service'][application]['scopes'])
				{
					if (authorizations[service]['service'][application]['scopes'][scope]['connector'] != connector)
						continue;

					scopes_array.push(scope);

					buildText('</br>' + scope, type)
					if (authorizations[service]['service'][application]['scopes'][scope]['status'])
					{
						var element = document.createElement('input');
						element.type = "checkbox"
						element.id = application+'_'+scope+'_checkbox'
						element.checked = true
						element.disabled = 'disabled'
						document.getElementById(type).appendChild(element);
					}
					else
					{
						var element = document.createElement('input');
						element.type = "checkbox"
						element.id = application+'_'+scope+'_checkbox'
						element.checked = false
						document.getElementById(type).appendChild(element);
					}

					buildText('</br>' + authorizations[service]['service'][application]['scopes'][scope]['description'], type)
				}
				buildText('</br>', type)
				var inputElement = document.createElement('input');
				inputElement.type = "button"
				inputElement.value = "Submit"
				//TODO: this doesn't work obviously
				inputElement.addEventListener('click', function(){
					submit(scopes_array, service, application, connector)
				});
				document.getElementById(type).appendChild(inputElement);
			}
		}
	}
}

function submit(scopes_array, service, application, connector)
{
	console.log(scopes_array)

	var authorizedScopes = []
	for (var scope in scopes_array)
	{
		if (document.getElementById(application+'_'+scopes_array[scope]+'_checkbox').checked)
			authorizedScopes.push(scope);
	}

	console.log(authorizedScopes)
	c = authorizations[service]['service'][application]['connectors'][connector]
	grant_uri = c['grant_uri'].replace('_scope_', authorizedScopes.join())
	console.log(grant_uri)
	


}



populateIn('initiated')
populateIn('enrolled')


</script>


{% endblock %}
