<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %} 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% blocktrans %}{{ service.name }}{% endblocktrans %}</title>
		<meta name="description" content="">
		<meta name="author" content="Arkadiusz Stopczynski">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE-edge" />
		<style type="text/css">
			body {
			padding-top: 60px;
			}
		</style>
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script>
		try {
				NodeList;
				HTMLCollection;
				window.location = "https://ygp.psy.ku.dk/";
			} catch (err) {
			//window.location = "{% url "changebrowser" %}";
			}
		</script>
	</head>

	<body>
		<div class="container">
			<h1>{% trans "Hej! Din browser fortæller os, at den er meget gammel." %}</h1>
			
				<p><strong>{% trans "Der kan være to årsager til dette: 1) du bruger Internet Explorer 9 eller højere, som er sat til ”kompatibilitetsvisning” (dvs. god til at vise gamle sider men dårlig til at vise nye sider), eller 2) du burger en meget gammel browser, som ikke kan vise vores side. Se løsningen nedenfor:" %}</strong></p>
			
				<h4>Du bruger en nyere version af Internet Explorer</h4>
			<div class="alert alert-warning">
				<p>Hvis du bruger Internet Explorer 11, skal du bare følge nedenstående trin:</p>
				<ol>
					<li>Tryk eller klik på knappen Funktioner<img src="{% static "img/ie.png" %}"/>, og tryk eller klik derefter på Indstillinger for kompatibilitetsvisning.</li>
					<li>Slå fluebenene fra i det vindue, der popper op. Luk derefter vinduet og opdatér siden.</li>
				</ol>
				<p>
Hvis du bruger en ældre version af Internet Explorer, kan du få flere detaljer ved at se dette link: <a href="http://windows.microsoft.com/da-DK/internet-explorer/use-compatibility-view#ie=ie-10">http://windows.microsoft.com/da-DK/internet-explorer/use-compatibility-view#ie=ie-10</a></p>
			</div>

				<h4>Du bruger en meget gammel browser</h4>
			<div class="alert alert-warning">
				<p>Hvis du bruger en meget gammel browser, kan den muligvis ikke vise vores side.
Her kan du se en liste af de browsere, der kan bruges til at vise vores side:</p>
				<ul>
					<li><a href="https://www.google.com/chrome/browser/">Chrome</a></li>
					<li><a href="http://www.mozilla.org/">Firefox</a></li>
					<li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">IE</a></li>
				</ul>

			</div>
		</div>
	</body>
</html>
