

{% extends "base.html" %}
{% load i18n %}
{% load url from future %}



{% block title %}Your children{% endblock %}

{% block content %}

{% if request.session.is_child %}
    Access denied.

{% else %}


    <style>

        .popover-content {
            word-wrap: break-word;
        }

        .error {
            color: #ff6666;
        }

        input.error {
            background: #F2DEDE;
        }

        input.valid {
            background: #DFF0D8;
        }

    </style>

    <script>
        $(document).ready(function () {
            $("[data-toggle=popover]").popover({trigger:'click'});
            $('body').on('click', function (e) {
                //did not click a popover toggle or popover
                if ($(e.target).data('toggle') !== 'popover' && $(e.target).parents('.popover.in').length === 0) {
                    $('[data-toggle="popover"]').popover('hide');
                }
            });
            $('#child_wrapper').hide();
            $.validator.addMethod("cprValid", function(value, element) {return validate_cpr(value)}, "Angiv en gyldig CPR");
            $.validator.addMethod("cprAvailable", function(value, element) {return fieldAvailable("cpr", value)}, "CPR nummer er allrede taget");
            $.validator.addMethod("childEmailAvailable", function(value, element) {return fieldAvailable("child_email", value)}, "Email er allrede taget");
            $('#child_form').validate({
                 rules: {
                    child_name: {
                        required: true
                    },
                    child_cpr: {
                        required: true,
                        cprValid: true,
                        cprAvailable: true
                    },
                    child_email_input: {
                        required: true,
                        email: true,
                        childEmailAvailable: true
                    }
                },
                messages: {
                    child_name: "Please specify your child's name",
                    child_email_input: "Please enter a valid email"
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });


        function fieldAvailable(field_name, field_value) {
            var url = window.location.origin + "/platform/accounts/check_" + field_name + "/?" + field_name + "=" + field_value;
            var xmlHttp = null;
            xmlHttp = new XMLHttpRequest();

            xmlHttp.open("GET", url, false);
            xmlHttp.send(null);
            var response = jQuery.parseJSON(xmlHttp.responseText);
            console.log(response);
            var fieldTaken =  response[0] < 0;
            console.log(fieldTaken);
            return !fieldTaken;
        }


        function strip_cpr(cpr) {
            return cpr.replace(/[^0-9\.]+/g, "");
        }

        function validate_cpr(cpr) {
            cpr = strip_cpr(cpr);
            if (cpr.length != 10) return false;
            var temp = 0;
            var CONTROL = '4327654321';
            var DIVISOR = 11;
            for (i = 0; i<10; i++) {
                //console.log(i);
                temp += parseInt(cpr.charAt(i)) * parseInt(CONTROL.charAt(i));
            }
            //console.log(temp);
            var full = Math.floor(temp / DIVISOR);
            var rest = temp - DIVISOR * full;
            return rest == 0;

            //return (control == parseInt(cpr.charAt(9)));
        }

    </script>

	<h3>Velkommen til Youth Gaming Project! </h3>
	<p>Nedenfor ser du en oversigt over det/de spørgeskema(er), der er tilgængelig for dig.</p> <p>For hvert barn, du har angivet, findes der et 'forældre' og et 'barn' spørgeskema. Du skal selv besvare det/de spørgeskema(er), der står i kolonnen 'Forældre spørgeskema'. 'Barn spørgeskemaet' skal du sende til dit barn ved at klikke på linket i kolonnen 'Barn spørgeskema'.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Barnets navn</th>
            <th>Forældre spørgeskema</th>
            <th>Barn spørgeskema</th>
            <th>Barn spørgeskema er afsendt</th>
        </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.name }}</td>
                <td>
                    <a class="btn btn-success" type="button" href={{ child.parent_questionnaire_url }}>Start</a>
                </td>
                <td>
                   <a href="#" data-toggle="popover" data-html="true" title="Barnets e-mail" data-content='<form action="/platform/notify_child/" method="POST">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" >
                                    <input name="child_email" type="text" value="{{ child.email }}"/> <br>
                                    <input name="save_email" type="checkbox" value="Save">  Save as permanent e-mail<br>
                                    <input type="hidden" name="child_id" value="{{ child.id }}"/>
                                    <input class="btn btn-success" type="submit" value="OK"/>
                                    </form>' class="btn btn-primary" type="button">Send 'Barn spørgeskema'</a>


                </td>
                <td>
                    {% if child.notified %}
                        <h5 style="color:limegreen">Ja</h5>
                    {% else %}
                        <h5 style="color:red">Nej</h5>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a href="#" class="btn btn-primary" type="button" onclick="$('#child_wrapper').show();"><i class="icon-plus-sign icon-white"></i> Tilføj et barn</a>

    <form id="child_form" action="/platform/register_child/" method="POST">
    {% csrf_token %}
    <div id="child_wrapper" style="padding:20px;background:#ffffff;margin:0 auto;">
        <div class="usernameWrapper">
            <strong><p style="margin-bottom: 0px">
                <span id="child_name_message" class="confirmMessage">Barnets navn</span></p>
            </strong>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" name="child_name" id="child_name" value="" spellcheck="false" autocomplete="off"
                       autocapitalize="off" autocorrect="off" Placeholder="Navn">
            </div>
        </div>

        <div class="cprWrapper">
            <strong><p style="margin-bottom: 0px">
                <span id="child_cpr_message" class="confirmMessage">Barnets CPR-nummer</span></p>
            </strong>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" name="child_cpr"
                                                                            id="child_cpr" spellcheck="false"
                                                                            autocomplete="off" autocapitalize="off"
                                                                            autocorrect="off" placeholder="DDMMÅÅ-XXXX">
            </div>
        </div>

        <div class="relationWrapper">
            <strong><p style="margin-bottom: 0px;"><span id="child_0_relation_message" class="confirmMessage">Din relation til barnet</span>
            </p></strong>

            <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span><select
                    name="child_relation" id="child_relation">
                <option value="c">Vælg venligst</option>
                <option value="m">Mor</option>
                <option value="f">Far</option>
                <option value="v">Værge</option>
            </select></div>
        </div>

        <div class="childEmailWrapper">
            <strong><p style="margin-bottom: 0px;"><span id="child_email_message" class="confirmMessage">Barnets e-mail</span>
            </p></strong>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" name="child_email_input" id="child_email_input" value="" spellcheck="false"
                       autocomplete="off" autocapitalize="off" autocorrect="off" Placeholder="E-mail">
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Tilføj"/>
        <button class="btn btn-medium" type="button" onclick="$('#child_wrapper').hide();">Afbryd</button>
    </div>
    </form>

{% endif %}
{% endblock %}

