{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}Your children{% endblock %}

{% block content %}
    <style>

        .popover-content {
            word-wrap: break-word;
        }

    </style>

    <script>
    $(document).ready(function() {
        $("[data-toggle=popover]").popover();
        });
    </script>

    <h3>Available questionnaires:</h3>
    <table class="table table-striped">
        <thead>
    			<tr>
				    <th>Child name</th>
				    <th>Parent questionnaire</th>
                    <th>Child questionnaire</th>
                    <th>Notified</th>
			    </tr>
            </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.name }}</td>
                <td>
                    <a class="btn btn-success" type="button" href={{ child.parent_questionnaire_url }}>Start</a>
                </td>
                <td>
                   <a href="#" data-toggle="popover" data-html="true" title="Child email" data-content='<form action="/notify_child/" method="POST">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" >
                                    <input name="child_email" type="text" value="{{ child.email }}"/>
                                    <input type="hidden" name="child_questionnaire_link" value={{ child.child_questionnaire_url }}/>
                                    <input class="btn btn-success" type="submit" value="OK"/>
                                    </form>' class="btn btn-primary" type="button">Share link</a>


                </td>
            <td>
                {% if child.notified %}
                        <h5 style="color:limegreen">Yes</h5>
                    {% else %}
                        <h5 style="color:red">No</h5>
                    {% endif %}
            </td>
            </tr>

    {% endfor  %}
        </tbody>
    </table>


{% endblock %}
