{% extends "base.html" %}

{% block content %}


<div class="row">


<div class="page-header">
	      <h1>Your Studies</h1>
	  </div>

{% for service,status in services.items %}
	{% if 'error' in status %}
		<fieldset class="well span4">
			<form method="get" action="{{ status.authorize_url }}">
			<h2>{{ service }}</h2>

			<h4>{{ status.description }} </h4>
				<div class="form-actions">
			   <p><button type="submit" name="submit" value="" class="btn btn-primary btn-large">Enroll <i class="icon-chevron-right icon-white"></i></button></p>
				</div>
		</form>
		</fieldtest>
	{% else%}
		<fieldset class="well span4">
			<h2>{{ service }}</h2>

			<h4> Here is some description </h4>
		

			{% for application, params in status.applications.items %}
				<div class="form-actions">
				{% if params.authorized == 1 %}
					<form method="get" action="{{ params.uri }}">
				{% else %}	
					<form method="get" action="{{ params.auth_url }}">
				{% endif%}
						
					<p><h4>{{ application }}</h4>
					{{ params.description }}</p>
					<p>This application <span class="label label-success">can</span> and <span class="label label-important"> cannot </span></p>
					{% for scope, value in params.scopes.items %}
						<li>
						{% if value.authorized == 1 %}
							<span class="label label-success">{{ value.description }}</span>
						{% else %}
							<span class="label label-important">{{ value.description }}</span>

						{% endif %}
						</li>
					{% endfor %}
					</br>
				{% if params.authorized == 1 %}
			   		<p><button type="submit" name="submit" value="" class="btn btn-primary">Visit <i class="icon-chevron-right icon-white"></i></button></p>
				{% else %}
			   		<p><button type="submit" name="submit" value="" class="btn btn-primary">Authorize <i class="icon-chevron-right icon-white"></i></button></p>
			
				{% endif %}

		</form>
		</div>
			{% endfor %}




		</fieldtest>
	{% endif %}
	
{% endfor %}


</div>

{% endblock %}
