{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %} 

{% block content %}
<div class="page-header">

{% if status == 'success' %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{% trans "Success!" %}</strong> {{ message }}
</div>
{% endif %}


{% if status == 'auth_error' %}
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>{% trans "Error" %}</strong>{% trans "You clicked No, cannot proceed" %} :(
</div>
{% endif %}

<script>
if(window.location.hash) {
	var hash = window.location.hash.substring(1).split('&');
	for (var h in hash) {
		key = hash[h].split('=')[0]
		value = hash[h].split('=')[1]
		if (key == 'error' && value == 'access_denied')
		{
			displayAuthError();
			break;
		}
	}
}

function displayAuthError()	{
	error_status = '<div class="alert alert-error"> <button type="button" class="close" data-dismiss="alert">&times;</button> <strong>Error</strong> You clicked No, cannot proceed :( </div>'
	document.write(error_status)

}


</script>

<div class="page-header">
	      <h1>Mine Projekter</h1>
		  <p class="lead">{{ text.projects_header | safe }}</p>
</div>

<div class="row">
{% if status == 'failed' %}
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Error</strong> {{ message | safe }}
</div>
{% endif %}

<style>
	table { border:none }
</style>



{% if not services %}
	{% if user.cas.student_id %}
	<div>
		<div class="well span11">
				<img src="{% static "img/dtu-logo.png" %}" style="display: block; margin: 0 auto;" />
				<p><h3>Hey, {{ user.cas.givenName }} ({{ user.cas.student_id }})! {% trans "You seem to have a DTU account, but are not on our list of students who can join" %} SensibleDTU.</h3></p>
				<p><h3>{% trans "Is this a mistake?" %} <a href="mailto:{{ support_mail }}">{% trans "Let us know!" %}</a></h3></p>


		</div>
	</div>
	{% else %}
	<div>
		<div class="well span11">
			<div style="text-align:center">
			<p><h3>{% trans "For at deltage i SensibleDTU skal du være DTU studerende." %}</h3></p>
			</div>
			</br>
				<img src="{% static "img/dtu-logo.png" %}" style="display: block; margin: 0 auto;" />
			<table style="width: 100%;">
				<tr>
					<td style="text-align: center; vertical-align: middle;">
						<h4 style="color:#c51137">
							{% trans "DTU student?" %}
							<div class="form-actions">
								<p><a class="btn btn-large btn-danger" href="{% url "id_cas" %}">{% trans "Link to Your account" %}</a></p>
							</div>
						</h4>

					</td>
				</tr>
			</table>
			<div>

			</div>

		</div>
	</div>



	{% endif %}
{% endif %}


{% for service,status in services.items %}
	{% if 'error' in status %}

		{% if status.error == 'connection error' %}
			<div class="well span11">
				<form method="get" action="{{ status.authorize_url }}">
				<h1>{{ service }}</h1>
				<p>{{ status.discovery.service_desc_full | safe }} </p>
					</br>
					<h4><div class="span" style="margin:-13px 0px 0px; background-color:#c43c35; text-align:center; padding: 4px 20px 4px; font-weight: bold; white-space: pre-wrap; -webkit-border-radius: 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; color: #ffffff;"> {% trans "The Study seems to be offline at the moment." %} <a href="mailto:{{ support_mail }}">Ping us.</a> Thanks!</div></h4>
			</form>
			</div>
		{% else %}
			<div class="well span11">
				<form method="get" action="{{ status.authorize_url }}">
				<h1>{{ service }}</h1>
				<h4> {{ status.discovery.service_desc_full | safe }} </h4>

							<div class="form-actions">
				   <p><button type="submit" name="submit" value="" class="btn btn-primary btn-large">Tilmeld <i class="icon-chevron-right icon-white"></i></button></p>
				   </div>
			</form>
			</div>
			{% endif %}
	{% else%}
		<div class="well span11">
			<h1>{{ service }}</h1>

			<h4> {{ status.description.service_desc_short | safe }} </h4>

				<div class="row">
				<div class="form-actions span" style="border: 1px solid #DDDDDD; background-color: #FFFFFF; border-radius: 4px 4px 4px 4px; margin-bottom:-10px; padding:2px 15px">
					<h2>{% trans "Applications" %}</h2>
					<h4>{% trans "Below here you can see an overview of your applications. The applications collect data for Sensible DTU and for seccurity reasons you should accept each application before it will collect data about you." %}</h4>
				</div>
				</div>



			{% for application, params in status.applications.items %}
			<a id="{{ service }}.{{ application }}"></a>
				<div class="form-actions" style="border: 1px solid #DDDDDD; background-color: #FFFFFF; border-radius: 4px 4px 4px 4px;margin-bottom:-10px">

					<h2>
					{% if params.uri != '' %}
						<a href="{{ params.uri }}">{% trans application %}
						<button value="" class="btn btn-primary btn-small" style="margin-bottom: 2px"><i class="icon-chevron-right icon-white"></i><i class="icon-chevron-right icon-white"></i></button></a>
					{% else %}
						{{ application }}

					{% endif %}
					</h2>
					<p><h5>{{ params.description | safe}}</h5></p>
					<p></hr></p>
					<table class="table table-condensed table-striped">
						<tbody >
					{% for auth_uri, scopes in params.scopes.items %}
							<tr>
								<form method="get" action="{{ auth_uri }}">
								<td class="span8" style="border-top: none; vertical-align:middle;">
						{% for scope, scope_params in scopes.items %}
							{% if scope != 'message' and scope != 'status' %}
								{% if scope_params.authorized == 1 %}
								<div class="span6" style="border-color: #46a546; padding: 2px 3px 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px 3px 3px 3px; border-width:1px; border-style:solid; border-top-style:solid; margin: 20px 10px 20px">
								<h4><div class="" style="margin:-13px 0px 0px; background-color:#46a546; text-align:center; padding: 4px 20px 4px; font-weight: bold; white-space: pre-wrap; -webkit-border-radius: 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 0px 0px 3px 3px; color: #ffffff;"> can {{ scope_params.description | safe }}</div></h4>
								<strong>{{ scope_params.description_extra | safe }}</strong>
								</div>
								{% else %}
								<div class="span6" style="border-color: #c43c35; padding: 2px 3px 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px 3px 3px 3px; border-width:1px; border-style:solid; border-top-style:solid; margin: 20px 10px 20px"><input type="checkbox" name="scope_{{ scope }}" checked id="cb_{{ service }}_{{ application }}_{{ auth_uri }}_{{ scope }}" value="checked" hidden />
								<h4><div class="" style="margin:-13px 0px 0px; background-color:#c43c35; text-align:center; padding: 4px 20px 4px; font-weight: bold; white-space: pre-wrap; -webkit-border-radius: 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 0px 0px 3px 3px; color: #ffffff;"> not allowed to {{ scope_params.description | safe }} </div></h4>
								<strong>{{ scope_params.description_extra | safe }}</strong>
								</div>


								{% endif %}
							{% endif %}
						{% endfor %}

								</td>

						{% if scopes.status == 0 %}

						<td style="text-align:left; vertical-align:middle; border-top: none">
						{% if auth_uri != '' %}
				   <p><button type="submit" name="submit" value="" class="btn btn-success btn-large">Allow <i class="icon-chevron-right icon-white"></i></button></p>
						{% else %}
							<button disabled value="" class="btn btn-success btn-large">{{ scopes.message | safe}}</button>
						{% endif %}
						</form>
						{% endif %}

						</td>

					</tr>

					{% endfor %}
						</tbody>
					</table>

		</form>
		</div>
			{% endfor %}

			<div style="margin-top: 20px">
				<h5><p>{% trans "en_text: Deltagelse i SensibleDTU er frivillig og du kan til enhver tid melde dig ud. Hvis du ønsker at framelde dig SensibleDTU projektet kan du skrive til" %} <a href="mailto:{{ support_mail }}">{{ support_mail }}</a>.</p></h5>
			</div>

		</div>
	{% endif %}

{% endfor %}


</div>

{% endblock %}
