{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="page-header">
        <h1>Welcome to Sensible Data</h1>
		<p class="lead">{{ text.welcome | safe }}</p>
</div>

	{% if not user.is_authenticated %}
        <a class="btn btn-large btn-success" href="{% url 'accounts:begin' "facebook" %}">FACEBOOK</a>
        <a class="btn btn-large btn-success" href="{% url 'accounts:begin' "facebook-app" %}">Facebook App</a>
		<a class="btn btn-large btn-success" href="{% url 'register' %}"><i class="icon-pencil icon-white"></i> Register</a>
		<a class="btn btn-large btn-primary" href="{% url 'login' %}"><i class="icon-user icon-white"></i> Sign in</a>
	{% endif %}
{% endblock %}
