{% extends "base.html" %}
{% load uni_form_tags %}

<link href='http://fonts.googleapis.com/css?family=Cabin:regular,bold&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/global.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/uni-form.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/blue.uni-form.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/uni-form-validation.jquery.js" type="text/javascript"></script>

{% block title %}Velkommen tilbage!{% endblock %}

{% block content %}

<style>
	table { border:none }
</style>

<div class="row">
	<div class="well span11">
		<h3>{{ title }}</h3>

		<p><hr></p>
		<div style="border: 1px solid #DDDDDD; background-color: #FFFFFF; border-radius: 4px 4px 4px 4px;">
			<div style="margin:10px;"><h4>{{ informed_consent | safe }}</h4></div>
		</div>
		</br>

<a class="btn btn-primary" href="{% url next %}">{{ accept }}</a>

        
</div>
        
	<script type="text/javascript">
                $(document).ready(function(){
                        $('form.uniForm').uniform();
                });
        </script>
</div>

{% endblock %}
