{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<script>
    $(document).ready(function(){
$(':input').each(function() {

    var elem = $(this);

    // Save current value of element
    elem.data('oldVal', elem.val());

    // Look for changes in the value
    elem.bind("propertychange keyup input paste", function(event){

        // If value has changed...
        if (elem.data('oldVal') != elem.val()) {
            // Updated stored value
            elem.data('oldVal', elem.val());

            // Do action
            $('#update_button_id').addClass('btn btn-success');
        }
    });
});

    });
</script>


<div class="page-header">
      <h1>Min profil</h1>
</div>


{% if status == 'failed' %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error</strong> {{ message }}
</div>
{% endif %}

{% if status == 'success' %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Profile linked!</strong>
</div>
{% endif %}

{% if sensible.profile.username %}
<div class="row">
    <div class="span5"> 
        <div class="well">
            <img src="{% static "img/sensible_dtu_logo_transparent.png" %}" />
			<div class="form-actions">
            <form id="sensible_form_id" name="sensible_form" action="{% url 'profile' %}"  method="post" >
                {% csrf_token %}
                <div class="input-prepend">
                    <label> Username</label> 
                    <input class="input-large" id="sensible_username" type="text" value={{ sensible.profile.username }} disabled >
                </div>
                <br>
                <div class="input-prepend">
                    <label>First Name</label> 
                    <input class="input-large" id="sensible_first" name="first_name_field" type="text" value={{ sensible.profile.first_name }} >
                </div>
                <br>
               <div class="input-prepend">
                    <label>Last Name</label> 
                    <input class="input-large" id="sensible_last" name="last_name_field" type="text" value={{ sensible.profile.last_name }} >
                </div>
                <br>
               <div class="input-prepend">
                    <label>Phone Number</label> 
                    <input class="input-large" id="sensible_phone" name="phone_field" type="text" value={{ sensible.profile.phone }} >
                </div>
                <div class="buttonWrapper">
                    <input class="btn btn-primary" type="submit" name="button" id="update_button_id" value="Save" >
                </div>    
            </form>
        </div>
    </div>
</div>


    <div class="span2"> 
    </div>

{% endif %}

{% if cas.profile.username %}

    <div class="span5">
        <div class="well">
            <table style="width: 100%;">
                  <tr>
                      <td style="text-align: center; vertical-align: middle;">
                          <img  src="{% static "img/dtu-logo.png" %}" />
                        </td>
                </tr>
        </table>
            <div class="form-actions">
             <div class="input-prepend">
                <label> Student ID</label> 
                <input class="input-large" id="prependedInput" type="text" value={{ cas.profile.student_id }} disabled >
            </div>
            <br>
            <div class="input-prepend">
                <label> Email</label> 
                <input class="input-large" id="prependedInput" type="text" value={{ cas.profile.email }} disabled >
            </div>
            <br>
             <div class="input-prepend">
                <label>Given Name</label> 
                <input class="input-large" id="prependedInput" type="text" value={{ cas.profile.givenName }} disabled >
            </div>
            <br>
           <div class="input-prepend">
                <label>Family Name</label> 
                <input class="input-large" id="prependedInput" type="text" value={{ cas.profile.familyName }} disabled >
            </div>
        </div>
    </div>
	</div>


    {% else %}
    <div class="span5">
        <div class="well">
             <a href='{{ cas.connector }}'>
                 <img src="{% static "img/dtu-logo.png" %}" style="display: block; margin: 0 auto;" />
             </a>
            <table style="width: 100%;">
                  <tr>
                           <td style="text-align: center; vertical-align: middle;">
                                   <h4 style="color:#c51137">
                                       DTU student?
			<div class="form-actions">
									   <p><a class="btn btn-large btn-danger" href="{{ cas.connector }}">Link to Your account</a></p>
			</div>
                                   </h4>
                          
        <br></br>               
                           </td>
                                                </tr>
                                            </table>
                                            <div>

            </div>

        </div>
    </div>




{% endif %}





</div>




{% endblock %}

 
