{% extends "base.html" %}

{% block content %}
{% ifequal trust_root_valid "Valid" %}
  <!-- Trust root has been validated by OpenID 2 mechanism. -->
  <p>The site <tt>{{ trust_root|escape }}</tt> has requested verification
  of your OpenID.</p>
{% endifequal %}
{% ifequal trust_root_valid "Invalid" %}
<div class="error">
  <p>This request claims to be from {{ trust_root|escape }} but I have
  determined that <em>it is a pack of lies</em>.  Beware, if you release
  information to them, they are likely to do unconscionable things with it,
  being the lying liars that they are.</p>
  <p>Please tell the <em>real</em> {{ trust_root|escape }} that someone is
  trying to abuse your trust in their good name.</p>
</div>
{% endifequal %}

<!-- trust_root_valid is {{ trust_root_valid }} -->

<form method="post" action="{% url 'openid-provider-decide' %}">{% csrf_token %}
Login with Your Sensible-Data username?
<br/>
<input type="hidden" name="decide_page" value="True" />
<input type="submit" class="btn btn-primary" value="No (Cancel)" name="cancel" />
<input type="submit" class="btn btn-primary" value="Yes (Allow)" name="allow" />
</form>
{% endblock %}
