{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>Login with Username and Password</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="row">
<fieldset class="well span=4">
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-user"></i>
		</span>
		<input type="text" name="username" id="id_username" value="" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Username"></div>
    	</br>
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-lock"></i>
		</span>
		<input type="password" name="password" id="id_password" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Password"></div>
    	<div class="form-actions"><input type="submit" name="submit" value="Login" class="btn btn-primary btn-large">
	<p></br>
	<a class="btn btn-primary" href="/accounts/register/?next={{ trust_root }}">Register</a></p></div>
  </fieldset>
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
