{% extends "base.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}


<div class="page-header">
	    <h1>You are already signed in.</h1>
		    </div>



<p><a href="{% url 'logout' %}"><button class="btn-large btn"><i class="icon-road"></i> Logout</button></a>

{% if next %}
	<a href="{{ next }}"><button type="submit" name="submit" value="Login" class="btn btn-large btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button></a>
{% else %}
	<a href="{% url 'home' %}"><button type="submit" name="submit" value="Login" class="btn btn-large btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button></a>
{% endif %}
</p>


{% else %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="tutorialWrapper">
    <form method="post" name="form" id="form_id" action="{% url 'register' %}" onkeyup="validateForm();" >
        {% csrf_token %}
		<div class="row">
		<div class="well span11">
        <h1>Register</h1>
		<div class="form-actions">



        <div class="usernameWrapper">
			<strong><p style="margin-bottom: 0px";><span id="username_message" class="confirmMessage">E-mail</span></p></strong>
		<div class="input-prepend" >
			<span class="add-on">
				<i class="icon-user"></i>
				        </span>
        	<input  type="text" name="username" id="username_input" value="" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" Placeholder="Email" onkeyup="validateEmailSoft();"  onblur="isTakenSoft();">
			</div>
        </div>

        <div class="pass1Wrapper">
			<strong><p style="margin-bottom: 0px;"><span id="pass1Message" class="confirmMessage">Skabe adgangskode</span></p></strong>
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-lock"></i>
				        </span>
            <input type="password" name="pass1" id="pass1" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Skabe adgangskode"  onkeyup="validatePw(this, 'pass1Message', 'pass2', 'pass2Message');">
			</div>
        </div>
        <div class="pass2Wrapper">
			<strong><p style="margin-bottom: 0px;"><span id="pass2Message" class="confirmMessage">Bekræfte adgangskode</span></p></strong>
		<div class="input-prepend">
			<span class="add-on">
				<i class="icon-lock"></i>
				        </span>
            <input type="password" name="pass2" id="pass2" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="Bekræfte adgangskode" onkeyup="validatePw(this, 'pass2Message', 'pass1', 'pass1Message');" >
			</div>
        </div>

        <div class="cprWrapper">
            <strong><p style="margin-bottom: 0px;"><span id="cpr_message" class="confirmMessage">CPR-nummer</span></p></strong>
        <div class="input-prepend">
            <span class="add-on">
                <i class="icon-user"></i>
                        </span>
            <input type="text" name="cpr" id="cpr" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="DDMMÅÅ-XXXX" onblur="validate_field(this)" >
            </div>
        </div>    

        <div class="birthdateWrapper">
            <strong><p style="margin-bottom: 0px;"><span id="dateMessage" class="confirmMessage">Fødselsdato</span></p></strong>
        <div class="input-prepend">
            <span class="add-on">
                <i class="icon-calendar"></i>
                        </span>
            <input class="span2" maxlength="4" type="text" name="year" size="4" id="year" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="ÅÅÅÅ" onblur="validate_field(this)" >
        </div>
            <input class="span1" maxlength="2" type="text" name="month" id="month" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="MM" onblur="validate_field(this)" >
        
            <input class="span1" maxlength="2" type="text" name="day" id="day" spellcheck="false" autocomplete="off" autocapitalize="off" autocorrect="off" placeholder="DD" onblur="validate_field(this)" >
            </div>
            
         

        <div class="sexWrapper">
            <strong><p style="margin-bottom: 0px;"><span id="sexMessage" class="confirmMessage">Køn</span></p></strong>
        <div class="input-prepend">
            <span class="add-on">
                <i class="icon-user"></i>
                        </span>
            <select id="sex" name="sex" onchange="validate_field(this)">
                <option value="c">Vælg venligst</option>
                <option value="k">Kvinde</option>
                <option value="m">Mand</option>
            </select>
            </div>
        </div>             
        <div id="child_wrapper"></div>
        <button class="btn btn-medium" onclick="add_child()" type="button"><i class="icon-black icon-plus"></i>Add a child</button>

		<p></hr></p>
        <div class="buttonWrapper">
			<button class="btn btn-primary btn-large" type="submit" id="button_id" value="Register" disabled onclick="submitForm()"><i class="icon-pencil icon-white" ></i> Register</button>
        </div>    
	<input type="hidden" name="next" value="{{ next }}" />
</div>
	</div>
</div>
    </form>
</div>


<script>

String.prototype.endsWith = function(suffix) {
    return this.indexOf(suffix, this.length - suffix.length) !== -1;
};

var goodFontColor = "#66cc66";
var badFontColor = "#ff6666";
var goodBackColor = "#DFF0D8";
var badBackColor = "#F2DEDE";
var white = "#ffffff";

var email_left = false;
var username_OK = false;
var pw_OK = false;
var cpr_OK = false;
var year_OK = false;
var month_OK = false;
var day_OK = false;
var date_OK = false;
var sex_GIVEN = false;
var sex_OK = false;
var meta_OK = false;
var children_OK = false;

var child_count = 0;


function get_validation_message(return_code) {
    if (return_code == -1) {
        return "Dit brugernavn skal være på mindst seks tegn";
    } 
    if (return_code == -2) {
        return "Brugernavnet er allerede taget";
    }
    if (return_code == -3) {
        return "Brugernavnet er ugyldigt";
    }
}

function remove_child(child_id) {
    elt = document.getElementById("child_" + child_id + "_wrapper");   
    elt.parentNode.removeChild(elt);
}

function add_child() {
    elt = document.getElementById("child_wrapper");
    var node = document.createElement("div");
    var string = "<div id=\"child_" + child_count + "_wrapper\" style=\"padding:20px;background:#ffffff;margin:20px\">";
    
    string += "<div class=\"usernameWrapper\">";
    string += "<strong><p style=\"margin-bottom: 0px\";><span id=\"child_" + child_count + "_name_message\" class=\"confirmMessage\">Navn</span></p></strong>";
    string += "<div class=\"input-prepend\" >";
    string += "<span class=\"add-on\">";
    string += "<i class=\"icon-user\"></i>";
    string += "</span>"
    string += "<input type=\"text\" name=\"child_" + child_count + "_name\" id=\"child_" + child_count + "_name\" value=\"\" spellcheck=\"false\" autocomplete=\"off\" autocapitalize=\"off\" autocorrect=\"off\" Placeholder=\"Navn\" onblur=\"validate_children()\">";
    string += "</div>";
    string += "</div>";

    string += "<div class=\"cprWrapper\">";
    string += "<strong><p style=\"margin-bottom: 0px;\"><span id=\"child_" + child_count + "_cpr_message\" class=\"confirmMessage\">CPR-nummer</span></p></strong>";
    string += "<div class=\"input-prepend\">";
    string += "<span class=\"add-on\">";
    string += "<i class=\"icon-user\"></i>";
    string += "</span>";
    string += "<input type=\"text\" name=\"child_" + child_count + "_cpr\" id=\"child_" + child_count + "_cpr\" spellcheck=\"false\" autocomplete=\"off\" autocapitalize=\"off\" autocorrect=\"off\" placeholder=\"DDMMÅÅ-XXXX\" onblur=\"validate_children()\" onkeyup=\"validate_children()\">";
    string += "</div>";
    string += "</div>";

    string += "<div class=\"relationWrapper\">";
    string += "<strong><p style=\"margin-bottom: 0px;\"><span id=\"child_" + child_count + "_relation_message\" class=\"confirmMessage\">Din relation til barnet</span></p></strong>";
    string += "<div class=\"input-prepend\">";
    string += "<span class=\"add-on\">";
    string += "<i class=\"icon-user\"></i>";
    string += "</span>";
    string += "<select name=\"child_" + child_count + "_relation\" id=\"child_" + child_count + "_relation\" onblur=\"validate_children()\" onkeyup=\"validate_children()\">";
    string += "<option value=\"c\">Vælg venligst</option>";
    string += "<option value=\"m\">Mor</option>";
    string += "<option value=\"f\">Far</option>";
    string += "<option value=\"v\">Værge</option>";
    string += "</select>"
    string += "</div>";
    string += "</div>";

    string += "<div class=\"childEmailWrapper\">";
    string += "<strong><p style=\"margin-bottom: 0px;\"><span id=\"child_" + child_count + "_email_message\" class=\"confirmMessage\">Email</span></p></strong>";
    string += "<div class=\"input-prepend\">";
    string += "<span class=\"add-on\">";
    string += "<i class=\"icon-envelope\"></i>";
    string += "</span>";
    string += "<input  type=\"text\" class=\"child_email_input\" name=\"child_" + child_count + "_email_input\" id=\"child_" + child_count + "_email_input\" value=\"\" spellcheck=\"false\" autocomplete=\"off\" autocapitalize=\"off\" autocorrect=\"off\" Placeholder=\"Email\" onkeyup=\"_validateEmail(this);\"  onblur=\"childIsTaken(this);\">";
    string += "</div>";
    string += "</div>";


    string += "<button class=\"btn btn-medium\" type=\"button\" onclick=\"remove_child(" + child_count + ")\">Abort</button>";
    string += "</div>";
    node.innerHTML = string;
    elt.appendChild(node);
    child_count +=1;

    //<!-- vaerge -->
}

function validatePw(pw, pw_message_id, other_id, other_message_id)
{
    pw_OK = false;
    var pw_message = document.getElementById(pw_message_id);

    var other = document.getElementById(other_id);
    var other_message = document.getElementById(other_message_id);

    var pl = pw.value.length;
    var ol = other.value.length;
    
    if ( pl > 0) 
    {
        if ( pl > 5 )
        {
            if ( ol > 0 ) 
            {
                if (pw.value == other.value )
                {
                    pw.style.backgroundColor = goodBackColor;
                    other.style.backgroundColor = goodBackColor;
                    pw_message.innerHTML = "";
                    other_message.innerHTML = "";
                    pw_OK = true;
                }
                else
                {
                    pw.style.backgroundColor = badBackColor;
                    pw_message.style.color = badFontColor;
                    pw_message.innerHTML = "Kodeordene stemmer ikke overens.";
                    pw_OK = false;
                }
            }
            else
            {
                pw.style.backgroundColor = goodBackColor;
                pw_message.style.color = goodFontColor;
                pw_message.innerHTML = "";
                pw_OK = false;
            }
        }
        else
        {
			if (pw_message_id=='pass1Message')
			{
				pw.style.backgroundColor = badBackColor;
				pw_message.style.color = badFontColor;
				pw_message.innerHTML = "Kodeordet skal være på mindst seks tegn.";
				pw_OK = false;
			}
        }
    }
    else
    {
        pw.style.backgroundColor = white;
 //       pw_message.style.color = "#555555";
  //      pw_message.innerHTML = "Password"
        pw_OK = false;
    }
}  

function validate_children() {
    children_OK = false;
    var result = true;
    var actual_child_count = 0;
    for (var child_id = 0; child_id < child_count; child_id++) {
        try {
            result = result && validate_field(document.getElementById("child_" + child_id + "_cpr"));
            result = result && validate_field(document.getElementById("child_" + child_id + "_name"));
            actual_child_count+=1;
        } catch (TypeError) {
            continue;
        }
    }
    children_OK = result && (actual_child_count > 0);
    validateForm();
}

function validateEmailSoft()
{
	if (email_left)
		validateEmail();
}

function isTakenSoft()
{
	email_left = true;
	userTaken();
}


function _isTaken(username) {
    var url =  '{{platformUri}}' + "accounts/check_username/?username=" + username; 
    var xmlHttp = null;
    xmlHttp = new XMLHttpRequest();
    
    xmlHttp.open( "GET", url, false );
    xmlHttp.send( null );
    var response = jQuery.parseJSON(xmlHttp.responseText);
    response[1] = get_validation_message(response[0]);
    return response;
}

function childIsTaken(obj) {
    var val = obj.value;
    // check if the same as parents:
    var parentEmail = document.getElementById("username_input");
    if (val == parentEmail.value) {
        obj.value = "";
        obj.placeholder = "Du skal ikke bruge din egen e-mail";
        set_background(obj, false);  
        return; 
    }
    //check if unique child email
    var child_email_inputs = document.querySelectorAll(".child_email_input");

    for (i = 0; i < child_email_inputs.length; i++) {
        if (obj.id == child_email_inputs[i].id) {
            continue;
        }
        if (val == child_email_inputs[i].value) {
            obj.value = "";
            obj.placeholder = "Dit barns email skal være entydigt";
            set_background(obj, false);
            return;
        }
    }
    var response = _isTaken(val);
    if (response[0] < 0) {
        obj.value = "";
        obj.placeholder = get_validation_message(response[0]);
        set_background(obj, false);
    }
}


function userTaken()
{
    username_OK = false;
    if (!validateEmail())
    {
        return false;
    }

    var input = document.getElementById("username_input");
    var message = document.getElementById("username_message");
    var username = input.value;

    var response = _isTaken(username);

    if ( response[0] < 0)
    {
        input.style.backgroundColor = badBackColor;
        message.style.color = badFontColor;
        message.innerHTML = response[1];
        username_OK = false;
        return false;
    }
    else 
    {
        input.style.backgroundColor = goodBackColor;
        message.style.color = goodFontColor;
        username_OK = true;
        return true;
    }

}

function cprTaken(cpr)
{

    var url =  '{{platformUri}}' + "accounts/check_cpr/?cpr=" + cpr;
    var xmlHttp = null;
    xmlHttp = new XMLHttpRequest();

    xmlHttp.open( "GET", url, false );
    xmlHttp.send( null );
    var response = jQuery.parseJSON(xmlHttp.responseText);

    return response[0] < 0;

}

function resetEmail() {
    var emailField = document.getElementById('username_input');
    var emailValue = emailField.value;
    var emailMessage = document.getElementById('username_message');
	emailField.style.backgroundColor = white;
	emailMessage.style.color = "#555555";
	emailMessage.innerHTML = "Email";
}

function resetPw1() {
    var passField = document.getElementById('pass1');
    var passValue = passField.value;
    var passMessage = document.getElementById('pass1Message');
	passField.style.backgroundColor = white;
	passMessage.style.color = "#555555";
	passMessage.innerHTML = "Create Password";
}

function resetPw2() {
    var passField = document.getElementById('pass2');
    var passValue = passField.value;
    var passMessage = document.getElementById('pass2Message');
	passField.style.backgroundColor = white;
	passMessage.style.color = "#555555";
	passMessage.innerHTML = "Confirm Password";
}



/**
 return codes
 -1 missing
 -2 too long
 -3 not valid
 -4 taken
 0 correct
 */
function _validateEmail(emailField) {
    var email = emailField.value;
    if (email.length == 0) {
        return -1;
    }
    if (email.length >= 30) {
        emailField.style.backgroundColor = badBackColor;
        return -2;
    }
    var emailReg = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    if( !emailReg.test( email ) ) {
        emailField.style.backgroundColor = badBackColor;
        return -3;
    }
    emailField.style.backgroundColor = goodBackColor;
    return 0;
}

function validateEmail() {
    username_OK = false;
    var emailField = document.getElementById('username_input');
    var emailValue = emailField.value;
    var emailMessage = document.getElementById('username_message');
    var emailReg = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);

    if (emailValue.length > 0 ) {
		if (emailValue.length > 30)
		{
            username_OK = false;
            emailField.style.backgroundColor = badBackColor;
            emailMessage.style.color = badFontColor;
            emailMessage.innerHTML = "Dit brugernavn skal være kortere end 30 tegn";
            return false;


		}
	

        if( !emailReg.test( emailValue ) ) {
            username_OK = false;
            emailField.style.backgroundColor = badBackColor;
            emailMessage.style.color = badFontColor;
            emailMessage.innerHTML = "Brugernavnet er ugyldigt";
            return false;
        } 
        else {
            username_OK = true;
            emailField.style.backgroundColor = goodBackColor;
            emailMessage.style.color = goodFontColor;
            emailMessage.innerHTML = "";
            return true;
        }
    }
    else
    {
        username_OK = false;
        emailField.style.backgroundColor = white;
        emailMessage.style.color = "#555555";
        emailMessage.innerHTML = "Email";
        return false;

    }
    return false;
}


function validateForm()
{
    var button = document.getElementById("button_id");

    if ( pw_OK && username_OK && _validate()) 
    {
        button.disabled = false;
    }
    else
    {
        button.disabled = true;
    }
}

function submitForm()
{
    if (userTaken())
    {
        document.forms['form_id'].submit();
        return true;
    }
}


/** 
    Added by Piotr
*/


function set_background(obj, success) {
    if (success) {
        obj.style.background = "#DFF0D8";
    } else {
        obj.style.background = "#F2DEDE";
    }
}


function validate_field(obj) {
    var result = false;
    if (obj.name.endsWith('cpr')) {
        if (obj.value != "") {
            result = validate_cpr(obj.value);
            set_background(obj,result);
            if (result) {
                var cpr_taken = cprTaken(obj.value);
                set_background(obj,!cpr_taken);
                if (!cpr_taken) {
                    cpr_OK = true;
                    document.getElementById(obj.id + "_message").innerHTML ="";
                } else {
                    cpr_OK = false;
                    var cprelement = document.getElementById(obj.id + "_message")
                    cprelement.innerHTML ="CPR-nummer er allerede taget.";
                    cprelement.style.color = badFontColor;
                }

            } else {
                cpr_OK = false;
                var cprelement = document.getElementById(obj.id + "_message")
                cprelement.innerHTML ="Angiv en gyldig CPR-nummer.";
                cprelement.style.color = badFontColor;
            }
        }
    } else if (obj.name == 'year') {
        if (obj.value != "") {
            result = parseInt(obj.value) >= 1858 && parseInt(obj.value) <= 2015;
            set_background(obj, result);
            year_OK = result;
        }
    } else if (obj.name == 'month') {
        if (obj.value != "") {
            result = parseInt(obj.value) >= 1 && parseInt(obj.value) <= 12;
            set_background(obj, result);
            month_OK = result;
        }
    } else if (obj.name == 'day') {
        if (obj.value != "") {
            result = parseInt(obj.value) >= 1 && parseInt(obj.value) <= 31;
            set_background(obj, result);
            day_OK = result;
        }
    } else if (obj.name == 'sex') {
        if (obj.value != 'c') {
            result = true;
            sex_GIVEN = true;
            document.getElementById('sexMessage').innerHTML = '';
        } else {
            sex_GIVEN = false;
            result = false;
            document.getElementById('sexMessage').style.color = 'black';
            document.getElementById('sexMessage').innerHTML = 'Køn';
        }
    } else if (obj.name.endsWith('name')) {
        if (obj.value.trim() != "") {
            set_background(obj, true);   
            result = true;
        } else {
            obj.value = "";
            set_background(obj, false);
            result = false;
        }
    } else if (obj.name.endsWith('email_input')) {
        var res = _validateEmail(obj.value);
        result = (res == 0);
        set_background(obj, result);

    }
    _validate_sex();
    _validate_date();
    validateForm();
    return result;
}



function _validate() {
    return (cpr_OK && sex_OK && date_OK && children_OK);
}

function _validate_sex() {
    if (cpr_OK && sex_GIVEN) {
        var result = validate_sex(document.getElementById('cpr').value, document.getElementById('sex').value);
        sex_OK = result;
        if (!result) {
            document.getElementById('sexMessage').style.color = badFontColor;
            document.getElementById('sex').style.backgroundColor = badBackColor;
            document.getElementById('sexMessage').innerHTML = 'Kønen du angav matcher ikke dit CPR-nummer';
        } else {
            document.getElementById('sex').style.backgroundColor = goodBackColor;
        }
    }
}

function _validate_date() {
    if (cpr_OK && year_OK && month_OK && day_OK) {
        var result = validate_date(document.getElementById('cpr').value, 
            document.getElementById('year').value,
            document.getElementById('month').value,
            document.getElementById('day').value);
        date_OK = result;
        if (result) {
            document.getElementById('dateMessage').innerHTML = "";
        } else {
            document.getElementById('dateMessage').style.color = badFontColor;
            document.getElementById('dateMessage').innerHTML = "Fødselsdatoen du angav matcher ikke dit CPR-nummer";
        }

    }
}

function strip_cpr(cpr) {
    return cpr.replace(/[^0-9\.]+/g,"");
}

function validate_cpr(cpr) {
    cpr = strip_cpr(cpr);
    if (cpr.length != 10) return false;
    var temp = 0;
    var CONTROL = '432765432';
    var DIVISOR = 11;
    for (i = 0; i<9; i++) {
        //console.log(i);
        temp += parseInt(cpr.charAt(i)) * parseInt(CONTROL.charAt(i));
    }
    //console.log(temp);
    var full = Math.floor(temp / DIVISOR);
    var rest = temp - DIVISOR * full;
    var control = 11 - rest;

    return (control == parseInt(cpr.charAt(9)));
}

function validate_date(cpr, year, month, day) {
    cpr = strip_cpr(cpr);
    if (cpr.charAt(0) + cpr.charAt(1) != pad(day, 2, 0)) {
        return false;
    }
    if (cpr.charAt(2) + cpr.charAt(3) != pad(month, 2, 0)) {
        return false;
    }
    if (cpr.charAt(4) + cpr.charAt(5) != year.charAt(2) + year.charAt(3)) {
        return false;
    }
    return true;
}

function validate_century(cpr, year) {
    cpr = strip_cpr(cpr);
    var contr1 = parseInt(cpr.charAt(6));
    var y = parseInt(year);
    if (contr1 >= 0 && contr1 <= 3) {
        return (year >= 1900 && year <= 1999);
    }
    if (contr1 == 4 || contr1 == 9) {
        return (year >=1937 && year <= 2036);
    }
    if (contr1 >= 5 && contr1 <= 8) {
        return ((year >= 2000 && year <= 2036) || (year >= 1858  && year <= 1899));
    }
}

function validate_sex(cpr, sex) {
    cpr = strip_cpr(cpr);
    var cpr_digit = parseInt(cpr.charAt(9));
    if (cpr_digit / 2 == Math.floor(cpr_digit/2)) {
        return sex == 'k';
    } else {
        return sex == 'm';
    }

}

function pad(n, width, z) {
  z = z || '0';
  n = n + '';
  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}

</script>

{% endif %}
{% endblock %}
