{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h3>Lukket for nye tilmeldinger</h3>
        <h5>
            <p>Projektet er desværre lukket for nye tilmeldinger i denne omgang. Alle forældre-unge par, der har
                indsendt
                besvarelser i projektets 1. runde, modtager en invitation via e-mail til at deltage i 2. runde. For at
                deltage skal forælderen bruge “log på” funktionen.
            </p>

            <p>
                Hvis du ønsker at få besked i tilfælde af, at vi får mulighed for at starte en ny omgang med nye
                tilmeldinger, bedes du følge os på Facebook.
            </p>

            <br>
            Youth Gaming Project<br>
            Hjemmeside: <a href=http://www.psy.ku.dk/ygp> www.psy.ku.dk/ygp</a><br>
            E-mail: <a href=mailto:ygp.info@psy.ku.dk>ygp.info@psy.ku.dk</a><br>
            Like, del og følg os på Facebook: <a href=http://www.facebook.com/youthgamingproject>
            www.facebook.com/youthgamingproject</a><br>

        </h5>
    </div>


{% endblock %}
