{% extends "password_reset/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Nulstil din adgangskode" %}{% endblock %}

{% block content %}
    <div class="row">
    <fieldset class="well span">
	<h1>Nulstil din adgangskode</h1>
    <div class="form-actions" style="margin-bottom: 0px;">

        <form method="post" action="{{ url }}">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input class="btn btn-primary" type="submit" value="{% trans "Nulstil min adgangskode" %}"></p>
	</form>
        </div>

    </fieldset>

    </div>
{% endblock %}
