{% extends "password_reset/base.html" %}{% load i18n %}{% load url from future %}

{% block content %}
    <div class="row">
    <fieldset class="well span">
	<h1>Gendan <p>din adgangskode</p></h1>
    <div class="form-actions" style="margin-bottom: 0px;">

	{% if invalid %}{% url "password_reset_recover" as recovery_url %}
		<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
	{% else %}
	<p>{% blocktrans %}Hej, <strong>{{ username }}</strong>! <p>Vælg venligst en ny adgangskode.{% endblocktrans %}</p>
		<form method="post" action="{% url "password_reset_reset" token %}">
			{% csrf_token %}
			{{ form.as_p }}
			<p><input class="btn btn-primary" type="submit" value="{% trans "Vælg venligst en ny adgangskode." %}"></p>
		</form>
	{% endif %}
    </div>

    </fieldset>

    </div>
{% endblock %}
