{% extends "index.html" %}
{% load url from future %}
{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
    <link href="{% static "css/socialicious.css" %}" rel="stylesheet" media="screen">
{% endblock stylesheets %}

{% block login %}
{{backends.items}}
    {% if social_providers %}
        {% for backend, provider in social_providers.items  %}
            <a class="btn btn-large btn-{{ provider.btnstyle }}" href="{% url 'social:begin' backend %}"><i class="socialicon-{{ provider.icon }}"></i>Log in with {{ provider.name }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}